__pycache__/
*.py[cod]
*.pyo
*.pyd
.env.local
.env
.Python
env/
gpp-venv/
venv/
.venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
.eggs/
*.log
.DS_Store
